:root{
    --color1: #2e1114;
    --color2: #501b1d;
    --color3: #64485c;
    --color4: #83677b;
    --color5: #adadad;

    --text1: #ffffff;
    --text2: #000000;
    --text3: #7c7c7c;

    --footer-height: 100px;
    --header-height: 70px;

    --article-spacing: 60px;
    --article-h1-font-size: 32px;

    --contact-form-font-size: 20px;
}